


#buttonForTagOne{
   max-width: 83px;
}

#buttonForTagTwo{
   max-width: 146px;
}
#buttonForTagThree{
   max-width: 139px;
}

.buttonForTag {
   background-color: rgba(21, 101, 216, 0.1);
   padding: 5px 10px;
   display: grid;
   row-gap: 200px;
   color: rgba(21, 101, 216, 1);
   font-family: Open Sans;
   font-weight: 600;
   border-radius: 6px;
   border: none;
   max-height: 32px;
   text-align: center;
}

.popTags {
   font-family: "Open Sans", sans-serif;
   font-weight: 600;
   font-size: 16px;
   color: rgba(90, 113, 132, 1);
}

.cardLayout {
   width: 296px;
   height: 72px;
}

.card-title {
   font-family: "Hanken Grotesk", system-ui;
   font-optical-sizing: auto;
   font-weight: 700;
   color: rgba(24, 59, 86, 1);
   font-size: 28px;
   line-height: 36px;
   letter-spacing: 0.2px;
   display: block;
}

.card-text {
   font-family: "Open Sans", sans-serif;
   font-weight: 400;
   color: rgba(24, 59, 86, 1);
   line-height: 32px;
   font-size: 18px;
}

.cardTitleDesc {
   height: 61px;
   width: 296px;
}

.date {
   font-size: 16px;
   font-weight: 600;
   font-family: "Open Sans", sans-serif;
   line-height: 21.79px;
   color: rgba(90, 113, 132, 1);
}

.list-unstyled {
   border: none;
}

.card {
   margin: 25px;
   border-radius: 12px;
   box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.06);
   overflow: hidden;
   border: none;
}

.card-img-top {
   border-top-left-radius: 12px;
   border-top-right-radius: 12px;
}

.card-body {
   padding: 20px;
}

.card-footer {
   background-color: #ffffff;
   border-top: 1px solid #ffffff;
   padding: 30px 30px;
}

.card-title {
   font-size: 1.25rem;
   font-weight: bold;
}

/* Responsive styles */
@media (max-width: 1024px) {
   /* Tablet view */
   .cardLayout {
      width: 100%;
      height: auto;
   }

   .card {
      margin: 15px;
   }

   .card-title {
      font-size: 24px;
      line-height: 32px;
   }

   .card-text {
      font-size: 16px;
      line-height: 28px;
   }

   .tags-container,
   .buttonForTag,
   .popTags {
      text-align: center;
      font-size: 14px;
   }

   .navbar {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .navbar-title,
   .navbar-description,
   .search-bar,
   .popular-tags {
      text-align: center;
      font-size: 14px;
   }

   .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
   }

   .footer-bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .best-article {
      order: 1;
   }

   .newsletter {
      order: 2;
   }

   .footer-links {
      order: 3;
   }
}

/* @media (max-width: 768px) {
   .cardLayout {
      width: 100%;
      height: auto;
   }


   .card-title {
      font-size: 20px;
      line-height: 28px;
   }

   .card-text {
      font-size: 24px;
      line-height: 32px;
      font-weight: 400px;
   }

.author-name{
font-size: 16px;
font-weight: 600;
line-height: 21.79px;
}

.verified-badge{
font-size: 14px;
line-height: 19.07px;
}

.date{ font-size: 16px}

   .tags-container,
   #buttonForTag,
   .popTags {
      text-align: center;
      font-size: 12px;
   }

   .navbar {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .navbar-title,
   .navbar-description,
   .search-bar,
   .popular-tags {
      text-align: center;
      font-size: 12px;
   }

   .grid-container {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;
   }

   .footer-bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .best-article {
      display: none;
   }

   .newsletter {
      order: 1;
   }

   .footer-links {
      order: 2;
   }
}


 */
