.MainText{
   color: #183B56;
   font-family: "Hanken Grotesk", system-ui;
   font-optical-sizing: auto;
   font-weight: 900;
   font-style: normal;
   margin-bottom: 25px;
}
.UnderMainText{
   color: #183B56;
   font-family: "Hanken Grotesk", system-ui;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
   margin-bottom: 55px;
   font-size: 17px;

}

.button{
   .tags-container{
      color: #183B56;
      font-family: "Hanken Grotesk", system-ui;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
   }
   
}

.col{
   margin-bottom: 25px;
}



/* .searchBoxDiv{
   box-shadow: 10px 10px 5px rgb(95, 105, 108); 
} */
.tags-container{
   color: #183B56;
   font-family: "Hanken Grotesk", system-ui;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
}


.left-section {
   flex: 1;
}

.right-section {
   flex: 1;
   display: flex;
   justify-content: center;
}
.input-box {
   display: flex;
   align-items: center;
   justify-content: center;
   max-width: 555px;
   margin-bottom: 400px;
   position: relative;
   border-color: #163F5F;
 }
 .input-box i,
 .input-box .button {
   
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
 }

 .input-box input {
   height: 100%;
   width: 100%;
   outline: none;
   font-size: 18px;
   font-weight: 400;
   border: none;
   padding: 0 155px 0 65px;
   background-color: transparent;
}
 
 .input-box .button {
   right: 20px;
   font-size: 16px;
   font-weight: 400;
   color: #fff;
   border: none;
   padding: 12px 30px;
   border-radius: 6px;
   background-color: #4070f4;
   cursor: pointer;
 }
 .input-box .button:active {
   transform: translateY(-50%) scale(0.98);
 }
 /* Responsive */
 @media screen and (max-width: 500px) {
   .input-box {
     height: 66px;
     margin: 0 8px;
   }
   .input-box i {
     left: 12px;
     font-size: 25px;
   }
   .input-box input {
     padding: 0 112px 0 50px;
   }
   .input-box .button {
     right: 12px;
     font-size: 14px;
     padding: 8px 18px;
   }
 }


/* .tags-container{
   margin-top: 200px;
} */

 
.siteLogo{
   margin-left: 125px;
}

.navbar{
   margin-top: 20px;
   margin-right: 55px;
}

.searchFunction {
      max-width: 20px; 
      margin: 0 auto;
   }

   .search-icon {
      width: 20px;
      height: 20px;
      color: #6c757d;
   }

   input[type="text"]::placeholder {
      color: #6c757d;
   }

   button {
      transition: background-color 0.3s ease;
   }

   button:hover {
      background-color: #0056b3;
   }



.navBarContainer * {
   font-family: Arial, sans-serif;
   font-size: 16px;
   font-weight: normal;
}

.navBarButton {
   background-color: transparent;
   color: #3469f0;
   border: 2px solid #3469f0;
   border-radius: 20px;
   padding: 0px 25px;
   font-size: 16px;
   font-weight: bold;
   transition: transform 0.3s, background-color 0.3s, color 0.3s, box-shadow 0.3s;
   white-space: nowrap;
   display: inline-block;
   margin: 0 10px;
   height: 40px;
   box-sizing: border-box;
}

.navBarButton:hover {
   background-color: #3469f0;
   color: #fff;
   transform: scale(1.05);
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.navBarButton:active {
   transform: scale(0.95);
}

.LiveChatDesignImage {
   margin-left: auto;
   margin-right: 150px;
   width: 750px;
   height: 525px;

}

.search-icon {
   width: 20px;
   height: 20px;
   margin-right: 10px;
   vertical-align: middle;
}

.main-content {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   padding: 20px;
}

.left-section {
   flex: auto;
   align-items: baseline ;
}


#theHeaderUnderNav{
   flex-wrap: wrap;
   margin-top: 40px;
}
.right-section {
   flex: auto;
   display: flex;
   justify-content: center;
   align-items: baseline ;
}


.tags-container {
   display: flex;
   align-items: center;
   gap: 10px; 
}

#buttonForTag {
   padding: 5px 10px; 
   font-size: 14px; 
   height: auto; 
   width: auto; 
   display: inline-block; 
   margin: 0; 
}

.input-group{
   width: 10px;
}

#button-addon2{
   width: 100px;
}


.card {
   margin: 15px;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   overflow: hidden;
}

.card-img-top {
   border-top-left-radius: 30px;
   border-top-right-radius: 30px;
}

.card-body {
   padding: 20px;
}

.card-footer {
   background-color: #f8f9fa;
   border-top: 1px solid #e9ecef;
   padding: 10px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
}

.card-title {
   font-size: 1.25rem;
   font-weight: bold;
}

.card-text {
   font-size: 1rem;
   color: #6c757d;
}



.custom-shape-divider-bottom-1725948808{
   margin-top: 50px;
}

@media (max-width: 990px) {
   .LiveChatDesignImage {
       display: none;
   }
}

.custom-shape-divider-bottom-1725950865 {
margin-top: 50px;}


.footer-text{
   margin-left: 20px;
   margin-right: 0px;
}


.moreArticlesButton {
   background-color: transparent;
   color: #3469f0;
   border: 2px solid #3469f0;
   border-radius: 10px;
   padding: 0px 25px;
   font-size: 16px;
   font-weight: bold;
   transition: transform 0.3s, background-color 0.3s, color 0.3s, box-shadow 0.3s;
   white-space: nowrap;
   display: inline-block;
   margin: 0 10px;
   height: 40px;
   box-sizing: border-box;
   margin-top: 65px;
}

.moreArticlesButton:hover {
   background-color: #3469f0;
   color: #fff;
   transform: scale(1.05);
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.moreArticlesButton:active {
   transform: scale(0.95);
}


.FooterBackgroundColor{
   background-color: #163F5F;
}