.MainText {
    font-size: 56px;
    color: #183B56;
    height: 139px;
    width: 539px;
    font-family: "Hanken Grotesk", system-ui;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 35   px;
}


.UnderMainText{
   color: #183B56;
   font-family: "Hanken Grotesk", system-ui;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
   margin-bottom: 15px;
   font-size: 17px;
   padding-bottom: 20px !important;

}


.button{
   .tags-container{
      color: #183B56;
      font-family: "Hanken Grotesk", system-ui;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
   }
   
}

.col{
   margin-bottom: 25px;
}

.uil-search{
   height: 56px;
   
   background-color: white;
}




.left-section {
   flex: 1;
}

.right-section {
   flex: 1;
   display: flex;
   justify-content: center;
}

.input-box {
   display: flex;
   align-items: center;
   justify-content: center;
   max-width: 555px;
   position: relative;
   height: 56px;
   border-color: #163F5F;
 
 }
 .input-box i,
 .input-box .button {
   
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
 }

 .input-box input {
   height: 100%;
   width: 100%;
   outline: none;
   font-size: 18px;
   font-weight: 400;
   border: none;
   padding: 0 155px 0 65px;
   background-color: transparent;
}
 
 .input-box .button {
   right: 20px;
   font-size: 16px;
   font-weight: 400;
   color: #fff;
   border: none;
   padding: 12px 30px;
   border-radius: 6px;
   background-color: #4070f4;
   cursor: pointer;
 }
 .input-box .button:active {
   transform: translateY(-50%) scale(0.98);
 }



 
.siteLogo{
   margin-left: 125px;
}

.navbar{
   margin-top: 20px;
   margin-right: 55px;
}

.searchFunction {
      max-width: 20px; 
      margin: 0 auto;
   }

   .search-icon {
      width: 20px;
      height: 20px;
      color: #6c757d;
   }

   input[type="text"]::placeholder {
      color: #6c757d;
   }

   button {
      transition: background-color 0.3s ease;
   }

   button:hover {
      background-color: #0056b3;
   }



.navBarContainer * {
   font-family: Arial, sans-serif;
   font-size: 16px;
   font-weight: normal;
}

.navBarButton {
   background-color: transparent;
   color: #3469f0;
   border: 2px solid #3469f0;
   border-radius: 20px;
   padding: 0px 25px;
   font-size: 16px;
   font-weight: bold;
   transition: transform 0.3s, background-color 0.3s, color 0.3s, box-shadow 0.3s;
   white-space: nowrap;
   display: inline-block;
   margin: 0 10px;
   height: 40px;
   
}

.navBarButton:hover {
   background-color: #3469f0;
   color: #fff;
   transform: scale(1.05);
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.navBarButton:active {
   transform: scale(0.95);
}

.LiveChatDesignImage {
   margin-left: auto;
   margin-right: 150px;
   width: 750px;
   height: 525px;

}

.search-icon {
   width: 20px;
   height: 20px;
   margin-right: 10px;
   vertical-align: middle;
}

.main-content {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   padding: 20px;
}

.left-section {
   flex: auto;
   align-items: baseline ;
}


#theHeaderUnderNav{
   flex-wrap: wrap;
}

.right-section {
   flex: auto;
   display: flex;
   justify-content: center;
   align-items: baseline ;
}


.tags-container {
   padding-top: 15px;
   display: flex;
   align-items: baseline;
   gap: 10px; 
}

#buttonForTag {
   padding: 5px 10px; 
   font-size: 14px; 
   height: auto; 
   width: auto; 
   display: inline-block; 
   margin: 0; 
}

.input-group{
   width: 10px;
}

#button-addon2{
   width: 100px;
}


.custom-shape-divider-bottom-1725948808{
   margin-top: 50px;
}



.custom-shape-divider-bottom-1725950865 {
margin-top: 50px;}


.footer-text{
   margin-left: 20px;
   margin-right: 0px;
}


.moreArticlesButton {
   background-color: transparent;
   color: #3469f0;
   border: 2px solid #3469f0;
   border-radius: 10px;
   padding: 0px 25px;
   font-size: 16px;
   font-weight: bold;
   transition: transform 0.3s, background-color 0.3s, color 0.3s, box-shadow 0.3s;
   white-space: nowrap;
   display: inline-block;
   margin: 0 10px;
   height: 40px;
   box-sizing: border-box;
   margin-top: 65px;
}

.moreArticlesButton:hover {
   background-color: #3469f0;
   color: #fff;
   transform: scale(1.05);
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.moreArticlesButton:active {
   transform: scale(0.95);
}


.FooterBackgroundColor{
   background-color: #163F5F;
}


.navbar-toggler{
   outline:none;  
   border: none;
   border: unset;
}


#headerSearchPlaceholder{
   font-family: "Open Sans";
   font-weight: 600;
   font-size: 16px;
   line-height: 21.79px;
   color: rgba(149, 158, 173, 1);
   padding: 0px;
}


   .SearchButton {
      width: 94px;
      height: 40px;
      color: rgba(255, 255, 255, 1);
      background-color: rgba(21, 101, 216, 1);
      font-family: "Open Sans";
      font-weight: 700;
      font-size: 16px;
      line-height: 21.79px;
      text-align: center;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      box-shadow: 0px 1px 1px rgba(32, 30, 30, 0.01);
      margin-right: 8px;
      text-align: center;
    }

    .fixTheDamnSearchButton{
      background-color: rgba(255, 255, 255, 1); 
      border-radius: 12px; 
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
       padding-left: 10px; 
       padding-right: 0px; 
       height: 56px;
       margin-bottom: 20px;
      width: 555px;
   }